.price-tables {
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 1000px;
    background-color: #141B1C;
    margin-top: 50px;
}

.price-card {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 770px;
    background: #334247;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
    margin: 7.5px;
}

.price-card__title {
    text-align: center;
    margin-top: 33px;
}

.price-card__title-item {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    margin-top: 0;
    margin-bottom: 0;
    color: #FFF;
}

.price-card__title-item-text {
    font-size: 20px;
    line-height: 24px;
    color: #FFF;
}

.price-card__price {
    display: flex;
    width: 380px;
    height: 105px;
    background-color: #5BB189;
    margin-top: 33px;
}

.price-card__price.business {
    background-color: #3A6BA5;
}

.price-card__price.webshop {
    background-color: #EC632A;
}

.price-card__price-text {
    color: #fff;
    font-size: 55px;
    line-height: 67px;
    margin: auto;
    font-weight: bold;
}

.price-card__description {
    display: flex;
    width: 327.49px;
    height: 36px;
    margin-top: 40px;
}

.price-card__description-text {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin: auto;
}

.price-card__options-list {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 300px;
    margin-top: 40px;
}

.price-card__options-list-items {
    height: 50px;
}

.price-card__options-list-items:nth-of-type(odd) {
    background-color: #2A3438;
}

.shade {
    margin: 18px 0 0 22px;
}

.price-card__options-list-items-text {
    margin-left: 22px;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}

.rectangle {
    display: flex;
    margin-top: 39px;
    width: 154.63px;
    height: 40px;
    margin: auto;
}

.price-card__order-btn {
    display: flex;
    background: #5BB189;
    border-radius: 20px;
    width: 155px;
    height: 40px;
    border: none;
}

.price-card__order-btn.business {
    background-color: #3A6BA5;
}

.price-card__order-btn.webshop {
    background-color: #EC632A;
}

.price-card__order-btn-text {
    color: #fff;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: auto;
    width: 100%;
}

.badge {
    display: flex;
    position: absolute;
    transform: rotate(45deg);
    height: 25.01px;
    width: 147.08px;
    left: 265px;
    bottom: 715px;
    background-color: #DC3F45;
    background: linear-gradient(135deg, transparent 18px, #DC3F45 0)top left, linear-gradient(225deg, transparent 18px, #DC3F45 0)top right;
    background-size: 53% 92%;
    background-repeat: no-repeat;
}

.badge-text {
    margin: auto;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.price-card.business {
    position: relative;
}